@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    background: #121212;
    color: #FFFFFF;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #17181C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

header.sticky {
    background: #17181C;
}

a .logo{
    width: 150px; 
}    

.navbar a{
    font-size: 1.7rem;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #FF1E8A;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('./img/background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content{
    max-width: 60rem;
    z-index: 99;
}

.home-content h4{
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: -2%;

}

.home-content h1{
    font-size: 65px;
    letter-spacing: 3px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2%;
    color: #FCFCFC;
}


.home-content h3{
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
}


.home-content p{
    font-size: 1.6rem;
    margin: 1rem 0 4rem;

}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: #FF1E8A;
    border: .1rem solid #FF1E8A;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #FFFFFF;
    z-index: 1;
    overflow: hidden;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #121212;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width:100%
}

.home-social{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-social a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: transparent;
    border: .2rem solid #FFFFFF;
    border-radius: 50%;
    font-size: 20px;
    color: #FFFFFF;
    z-index: 1;
    overflow: hidden;
}

.home-social a:hover{
    border-color: #FF1E8A;
    color: #FF1E8A;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #121212;
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before{
    width:100%
}

.home-imgHover{
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 1s;
}

.home-imgHover:hover{
    background: #121212;
    opacity: .8;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: #17181C;
    padding-bottom: 6rem;
}

.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: #FF1E8A;
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid #FF1E8A;
}

.about-img .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid #171717;
    border-bottom: .2rem solid #171717;
    border-left: .2rem solid #FF1E8A;
    border-right: .2rem solid #FF1E8A;
    animation: aboutSpinner 8s linear infinite;
}

.about-content{
    text-align:center;
}

.about-content h3{
    font-size: 2.6rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box.btns{
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before{
    background: #121212;
}

.service{
    background-color: #121212;
    width:100%;
    padding: 100px 0px;
    
}
.title h2{
    color:#FFFFFF;
    font-size: 60px;
    width: 1130px;
    margin-top: -100%;
    margin: 40px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 500px;
    width: 335px;
    padding: 20px 35px;
    background: #17181C;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #FF1E8A;
}
h5{
    color: #FFFFFF;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #FCFCFC;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #FF1E8A;
    color: #FFFFFF;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #FF1E8A;
    cursor: pointer;
}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 5rem;
}

.education .education-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column{
    flex: 1 1 40rem;
}

.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}

.education-column .education-box{
    border-left: .2rem solid #FF1E8A ;
}

.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: #FF1E8A;
    border-radius: 50%;
}

.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #FF1E8A;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #17181C;
    z-index: -1;
    transition: .5s;
}

.education-content .content:hover::before{
    width: 100%;
}


.education-content .content h3{
    font-size: 2rem;
    color: #FFFFFF;
}

.education-content .content p{
    font-size: 1.6rem;
    padding-top: 1.5rem;
    color: #FFFFFF;
}

.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: #17181C;
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    font-size: 3rem;
    margin: 0 0 1.5rem;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid #FF1E8A;
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #121212;
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color:#FFFFFF;
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid #FF1E8A;
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: #FF1E8A;
}


.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 95%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span{
    width: 75%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar span{
    width: 70%;
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 95%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 90%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(5) .bar span{
    width: 75%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(6) .bar span{
    width: 70%;
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid #FF1E8A;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    color: #FFFFFF;
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #17181C;
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact form .btn-box.btn .btn{
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #17181C;
}

.copyright {
    font-size: 1.6rem;
}

.footer-arrow a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: #FF1E8A;
    border: .2rem solid #FF1E8A;
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-arrow a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #17181C;
    z-index: -1;
}

.footer-arrow a:hover::before{
    width: 100%;
}

.footer-arrow a i{
    font-size: 2.4rem;
    color: #121212;
    transition: .5s;
}

.footer-arrow a:hover i{
    color: #FF1E8A;
}

/*BREAKPOINTS*/
@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header{
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    header {
        background: #171717;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: #17181C;
        box-shadow: 0 .5rem 1rem rgba(0, 0,0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: red;
        border-top: .1rem solid rgba(0, 0,0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translate(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover{
        pointer-events: none;
        background: #121212;
        opacity: .6;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-social {
        width: 160px;
    }

    .home-social a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .education {
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }    
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}